*{
    font-family:'Calibri';
    color:antiquewhite;
    background-color:cornflowerblue;
}

input{
    background-color:rgb(165, 164, 164);
    width: 15%;
    height: auto;
    font-size: 20px;
    margin: 5px;
}

h1{
    text-align: center;
    background-color:lightseagreen;
}

label{
    font-size: 20px;
}

p{
    font-size: 20px;
}

img{
    padding: 50px;
    align-items: center;
    width: 90%;
    height: auto;
}