*{
    font-family: 'Calibri';
    margin: auto;
    padding: 3px;
}

header{
    text-align: center;
    background-color: darkkhaki;

}

form{
    text-align: center;
    margin: 50px;
}

#result{
    text-align: center;
    margin: 100px;
    padding: 100px;
    background-color:darkkhaki;
}
